<section id="video-cards" class="grid">
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
    <a href="#"><app-video-item class="card"></app-video-item></a>
</section>
