<div class="soh-footer footer page-footer px-4">
    <div class="d-flex flex-row justify-content-around">
        <div class="p-2">
            <h4>Service Times</h4>
            <h5>Sunday Mornings</h5>
            <p>Intercessory Prayer: 8:15am</p>
            <p>Sunday School: 9:30am</p>
            <p>Kingdom Worship: 10:45am</p>
        </div>
        <div class="p-2">
            <h4>Contact Info</h4>
            <p>(309) 673- 4625</p>
            <p>417 W. Romeo B. Garrett Peoria, IL 61605</p>
        </div>
        <div class="p-2">
            <h4>Social Media</h4>
            <div class="d-flex flex-row justify-content-between">
                <a
                    href="https://www.facebook.com/Star-of-Hope-Full-Gospel-Church-101327371529637">
                    <svg-icon src="assets/icons/facebook-icon.svg"
                        [svgStyle]="{'width.px':40, 'height.px':40}"></svg-icon>
                </a>
                <a href="https://www.instagram.com/sohfullgospel/">
                    <svg-icon src="assets/icons/instagram-2016.svg"
                        [svgStyle]="{'width.px':40, 'height.px':40}"></svg-icon>
                </a>
                <a
                    href="https://www.youtube.com/channel/UCo70tv8EqEUYOHQXV2_AZQQ"><svg-icon
                        src="assets/icons/youtube-3.svg"
                        [svgStyle]="{'width.px':40, 'height.px':40}"></svg-icon></a>
            </div>
        </div>
    </div>
</div>
