.navbar-nav>li {
  margin-left: 30px;
  margin-right: 30px;
}

.navbar-nav>li>a {
  font-size: 1.25em;
  color: white;
}

.header {
  background-color: rgba(153, 134, 72, 0.815) !important;
  padding-top: 2.5em;
  padding-bottom: 1em;
  margin-bottom: 0em;
}

.navbar-nav>li>a:hover {
  background-color: rgba(192, 173, 111, 0.815);
}
