<nav class="navbar navbar-expand-lg navbar-light bg-company-red sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
        id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="home">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="news">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="prayerlk">Prayer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact-us">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
