<div>
    <p>The Star of Hope Church was started in 1955 by the late Deacon and Mrs.
        Raleigh Gulley. The organizing of the church was done in the home of the
        Gulleys in Peoria, Illinois who were members of the Morning Star Baptist
        Church prior to organizing Star of Hope Baptist Church.
        <br>
        <br>
        The newly organized congregation moved from the Gulley’s residence to a
        building located on the corner of First and Sand Street. The
        congregation
        called the Rev J.H. Rogers to serve as their pastor. Rev. Rogers served
        as
        Pastor less than a year and the congregation sought a new Shepherd. The
        church extended a call to Rev. West of Clarksdale, Mississippi. Rev.
        West
        accepted the call while still pastoring in Clarksdale. He brought with
        him a
        cousin, Rev. A.L. Albert who was ultimately selected to guide the
        church. He
        led the church until his death in October of 1967. The church then
        selected
        Rev. Joseph Johnson to be its interim Pastor in 1967. Rev. Johnson was
        installed as pastor in March 1968.
        <br>
        <br>
        The church was located in Peoria's southside at 401 W. Fifth Street. The
        congregation experienced tremendous spiritual growth under the
        leadership of
        Pastor Johnson. God ushered in revival through the use of Child
        Evangelism
        Fellowship (CEF) teaching materials. This was done through the efforts
        of
        Sis. Elmarie Gulley, who served as superintendent of Sunday School. Many
        were saved and discipled in Christian conduct. There was genuine
        spiritual,
        physical, and financial increase within the congregation. However, the
        church entered a time of crisis. It was during this time Rev. Johnson
        tendered his resignation and Rev. James Offutt was called to lead the
        church
        in 1976.
        <br>
        <br>
        Star of Hope was involved in Missions and had committed to provide
        support
        to Sis. Vera Stephens, a missionary to Liberia in Africa. Sis. Stephen
        served as the Director of Camp Bethesda in Liberia. During the crisis,
        the
        congregation began to fall behind in their support to Sis. Vera Stephen.
        As
        it worsen, it caused a split in the congregation. Many of the members
        left
        the Bradley Avenue site and went back to the corner of First and Sands
        street in Peoria.
        <br>
        <br>
        A year later, Rev. Johnson returned to serve as pastor of the church.
        Under
        his leadership, the property at 401 Fifth Street was sold to the City of
        Peoria. Therefore Rev. Johnson challenged the congregation to keep their
        commitment made to Sis. Stephens which resulted in the church sending
        half
        of the sale price to Missionary Stephen. That support built 24 permanent
        buildings which were used for housing, education and social development.
        Star of Hope is blessed today because of this partnership. That gift has
        led
        to the salvation of thousands at Camp Bethesada, Liberia. Many of those
        young people have become missionary themselves. Some of these
        individuals
        now serve on national and international Missions Boards. As the years
        past,
        the church under Rev. Johnson’s leadership grew physically and in 1978,
        a
        new building was built at 417 W Fifth Street. The congregation in 1998
        also
        added a new fellowship hall and classrooms to the existing building at
        417 W
        Fifth Street.
        <br>
        <br>
        Over the years our involvement through Camp Bethesda netted thousands of
        souls led to the Lord. Missionary Stephens was able to get contributions
        from companies along with the contributions that she got from Star of
        Hope.
        Yearly there were more than 300 kids educated on the camp site. Star of
        Hope
        was responsible for 23 building on that camp site. Our involvement in
        Camp
        Bethesda lasted until 2000. Our next missionary outreach was in Trinidad
        and
        Tobago; we supported two churches, built one home, and completely
        rehabilitated another one.
        <br>
        <br>
        We supplied Bibles for our mission outreach through Pastor Earl who has
        worked with 19 evangelical churches in West Indies. We still support
        Pastor
        Earl as our missionary outreach contact in the West Indies and
        periodically,
        supported educational endeavors.
        <br>
        <br>
        We’ve had limited involvement in Jamaica and Haiti in 2012 and 2013. As
        we
        are planning further involvement in Haiti, our outreach person Mr. D.
        Duncan
        will be spending a month in 2014 there. Future plans are to work with
        projects in support of his vision.
        <br>
        <br>
        We have approximately 70 brothers who have signed up to be mentors for
        kids
        in need in District 150 in Peoria, IL. We are currently planning
        parenting
        classes to educate our parents in this church and our community that
        need
        it.
        <br>
        <br>
        To date, Rev. Johnson has led the Star of Hope congregation for the past
        48
        years. To God be the Glory! Under Pastor Johnson’s tenure, there has
        been
        more than thirty-eight men and women licensed into the preaching
        ministry.
        Of this number, seven have gone on to become Pastors across America and
        thirty-one are ministers. Once again to God be the Glory! As we embark
        upon
        2015, we are excited about the direction God is taking the church. Our
        theme
        for 2015 is “Lost Without His Presence”. In the years to come, it is our
        desire to take a holistic approach in our church as well as our
        community as
        we seek our God for His ways and His purpose.
        <br>
        <br>
        Truly today is an exciting times to be in Christ. May God, direct us as
        we
        strive to be a true Star of Hope!</p>
</div>
