<div>
    <ul id="nav">
        <li>
            <a href="/home">Home</a>
        </li>
        <li>
            <a>About &nbsp;<i class="arrow down"></i></a>
            <ul class="dropdown">
                <li><a href="/leadership">Leadership</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </li>
        <li>
            <a href="/events">Events</a>
        </li>
        <li>
            <a href="/news">News</a>
        </li>
        <li>
            <a href="/media">Media</a>
        </li>
        <li>
            <a href="/prayer">Prayer</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
</div>