 <section id="welcome" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
        <h2>Welcome to Star of Hope</h2>
        <p>
            We would like to welcome you to Star of Hope Full Gospel Church,
            ​The Church with a Friendly Touch...
            This is a warm, loving Church with a caring congregation. We are
            a family focused Church seeking to reach those in our community
            and beyond. We want to extend this invitation for you to come
            along and become part of our Church family.
        </p>
    </div>
</section>
<section id="info-cards" class="grid">
    <ul>
        <li>
            <div class="card">
                <img
                    src="assets/images/bible.jpeg"
                    alt="">
                <div class="card-content">
                    <h3 class="card-title">Powerful Sermons</h3>
                    <p></p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <img
                    src="assets/images/worship.jpeg"
                    alt="">
                <div class="card-content">
                    <h3 class="card-title">Refreshing Worship</h3>
                    <p></p>
                </div>
            </div>
        </li>
        <li>
            <div class="card">
                <img
                    src="assets/images/cross.webp"
                    alt="">
                <div class="card-content">
                    <h3 class="card-title">Spiritual Guidance</h3>
                    <p></p>
                </div>
            </div>
        </li>
    </ul>
</section>