<div id="leadership" class="grid">
    <img
        src="assets/images/pastor-johnson.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Bishop Joseph H. Johnson</h2>
    </div>
    <img
        src="assets/images/minister-griffith.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Minister Sandra Griffith</h2>
    </div>
    <img
        src="assets/images/minister-vance.png"
        alt="">
    <div class="leadership-text">
        <h2>Minister Vance Jordan II</h2>
    </div>
    <img
        src="assets/images/minister-pankey.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Minister Toni Pankey</h2>
    </div>
    <img
        src="assets/images/minister-warr.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Minister Carla Warr</h2>
    </div>
</div>
