<div id="leadership" class="grid">
    <img
        src="assets/images/pastor-johnson.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Bishop Joseph H. Johnson</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            ullam nesciunt molestias magnam nemo, optio quia doloribus explicabo
            sed itaque libero rerum odit voluptas non, consequatur aut velit
            esse corporis sapiente est harum! Repudiandae adipisci voluptates
            quam, temporibus quia vel doloribus saepe voluptas! Voluptatem
            optio, et odit, suscipit fugit in quo veritatis hic quod, aliquam
            totam ea consequatur ipsa recusandae beatae corrupti? Voluptas nulla
            deserunt iste voluptatibus velit non debitis ullam ipsam in quis
            labore accusamus quibusdam porro sint magnam ex nam sit veniam
            facilis, aspernatur sed delectus accusantium? Nisi rerum odio
            tempora mollitia id reiciendis neque consequuntur nulla delectus!</p>
    </div>
    <img
        src="assets/images/minister-griffith.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Minister Sandra Griffith</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            ullam nesciunt molestias magnam nemo, optio quia doloribus explicabo
            sed itaque libero rerum odit voluptas non, consequatur aut velit
            esse corporis sapiente est harum! Repudiandae adipisci voluptates
            quam, temporibus quia vel doloribus saepe voluptas! Voluptatem
            optio, et odit, suscipit fugit in quo veritatis hic quod, aliquam
            totam ea consequatur ipsa recusandae beatae corrupti? Voluptas nulla
            deserunt iste voluptatibus velit non debitis ullam ipsam in quis
            labore accusamus quibusdam porro sint magnam ex nam sit veniam
            facilis, aspernatur sed delectus accusantium? Nisi rerum odio
            tempora mollitia id reiciendis neque consequuntur nulla delectus!</p>
    </div>
    <img
        src="assets/images/minister-vance.png"
        alt="">
    <div class="leadership-text">
        <h2>Minister Vance Jordan II</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            ullam nesciunt molestias magnam nemo, optio quia doloribus explicabo
            sed itaque libero rerum odit voluptas non, consequatur aut velit
            esse corporis sapiente est harum! Repudiandae adipisci voluptates
            quam, temporibus quia vel doloribus saepe voluptas! Voluptatem
            optio, et odit, suscipit fugit in quo veritatis hic quod, aliquam
            totam ea consequatur ipsa recusandae beatae corrupti? Voluptas nulla
            deserunt iste voluptatibus velit non debitis ullam ipsam in quis
            labore accusamus quibusdam porro sint magnam ex nam sit veniam
            facilis, aspernatur sed delectus accusantium? Nisi rerum odio
            tempora mollitia id reiciendis neque consequuntur nulla delectus!</p>
    </div>
    <img
        src="assets/images/minister-pankey.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Minister Toni Pankey</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            ullam nesciunt molestias magnam nemo, optio quia doloribus explicabo
            sed itaque libero rerum odit voluptas non, consequatur aut velit
            esse corporis sapiente est harum! Repudiandae adipisci voluptates
            quam, temporibus quia vel doloribus saepe voluptas! Voluptatem
            optio, et odit, suscipit fugit in quo veritatis hic quod, aliquam
            totam ea consequatur ipsa recusandae beatae corrupti? Voluptas nulla
            deserunt iste voluptatibus velit non debitis ullam ipsam in quis
            labore accusamus quibusdam porro sint magnam ex nam sit veniam
            facilis, aspernatur sed delectus accusantium? Nisi rerum odio
            tempora mollitia id reiciendis neque consequuntur nulla delectus!</p>
    </div>
    <img
        src="assets/images/minister-warr.jpg"
        alt="">
    <div class="leadership-text">
        <h2>Minister Carla Warr</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
            ullam nesciunt molestias magnam nemo, optio quia doloribus explicabo
            sed itaque libero rerum odit voluptas non, consequatur aut velit
            esse corporis sapiente est harum! Repudiandae adipisci voluptates
            quam, temporibus quia vel doloribus saepe voluptas! Voluptatem
            optio, et odit, suscipit fugit in quo veritatis hic quod, aliquam
            totam ea consequatur ipsa recusandae beatae corrupti? Voluptas nulla
            deserunt iste voluptatibus velit non debitis ullam ipsam in quis
            labore accusamus quibusdam porro sint magnam ex nam sit veniam
            facilis, aspernatur sed delectus accusantium? Nisi rerum odio
            tempora mollitia id reiciendis neque consequuntur nulla delectus!</p>
    </div>
</div>
